<script lang="ts">
</script>

<template>
  <div class="bg-red-400">
    <div class="content">
      <div class="title">
        Welcome to<br>
        TalkTome!
      </div>
      <div class="description">
        An online platform designed to help you with jobs interviews, how to reply to a company offer and much more! 
      </div>
      <div class="robot">
        <img src="./assets/robot.svg">
      </div>
    </div>
  </div>
  <div class="rest">

  </div>
</template>

<style scoped>
.front {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #7EB1EC 0%, #7798ED 84.37%, #4878F1 100%);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rest {
  width: 100%;
  height: 100%;
}

.robot {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
}

.robot img {
  transform: scale(70%);
}


.content {
  position: relative;
  width: 80%;
  max-width: 1536px;
  height: 50%;
  margin: 0 auto;
}

.title {
  width: 40%;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 5rem;
  line-height: 116px;
}

.description {
  width: 40%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.2rem;
}
</style>
